@*
    Archivo Razor cshtml

    Define como se muestra la interfaz de usuario UI de la aplicacion
    usamos un Modelo que es la union de dos Modelos (Tabla animestest como tabla temporadadasTest )
    para mostrarlo como un join conjunto



    El archivo que se envia al cliente es un archivo html, generado por asp net core

    recorremos la lista de Animes y lo mostramos.
    animesTemporadasViewModels es una Lista y el indice [0] contiene el nombre de las columnas de la tabla de la base de
    datos que junto con el modelo en la propiedad DisplayName
    se muestra de manera mas amigable al usuario

    DisplayFor muestra el contenido de la lista
*@


@page
@using Models
@model AnimesTemporadasModel
@{
    ViewData["Title"] = "Lista Animes Temporadas";



}

<div class="row d-flex justify-content-between">

    <div class="col-6">
        <h4>Lista de Animes</h4>
    </div>


    <div class="col-6 d-flex">
        <a class="btn  btn-primary mr-3" asp-page="CrearAnimeTemporada">Añadir Anime y 1º Temporada</a>
        <a class="btn  btn-success text-white" asp-page="Temporadas">Añadir Temporada a Anime existente</a>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <p>Los Animes que tienen un guion - <b>No tienen temporadas</b> porque son pelis.</p>
        </div>
        <div class="col-6">
            <form>
                <div class="d-flex pt-3 pb-3">
                    <input type="text" id="searchString" name="searchString" value="" class="form-control form-control-sm w-50" />
                    <input type="submit" value="Buscar Anime" class="btn btn-sm btn-primary w-25 mx-auto" />
                </div>
            </form>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="edit-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" asp-page="AnimesTemporadas" asp-page-handler="CambiarEstado">
                    <div class="modal-header">
                        <h5 class="modal-title">Cambiar Estado Anime</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="content">
                        <div class="form-group">
                            <h4 id="titulo-modal">Cambiando  Estado <span id="titulo-modal"></span></h4>
                            <label >Estado:</label>
                            <input name="estado" id="estado" type="text" class="form-control" required="true" />
                            <label>¿Donde se ha visto el Anime?:</label>
                            <input name="paginavisto" id="paginavisto" type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-primary" data-dismiss="modal" value="Cancelar" />
                        <input type="submit" class="btn btn-info" value="Actualizar Estado" />
                        <!-- Poner hidden a estos tres campos-->
                        <input type="hidden" name="Id" id="id" />
                        <input type="hidden"  name="estado" id="estado" />
                        <input type="hidden"  name="paginavisto" id="paginavisto"/>
                    </div>
                </form>

            </div>
        </div>
    </div>


    <section class="row ">

        <table class="table  table-striped  " id="tablaAnimes">
            <thead class="table-dark">
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.animesTemporadasPaginated[0].id_anime)
                    </th>



                    <th scope="col">
                        @Html.DisplayNameFor(model => model.animesTemporadasPaginated[0].NumeroTemporada)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.animesTemporadasPaginated[0].NombreAnimeTemporada)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.animesTemporadasPaginated[0].genero)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.animesTemporadasPaginated[0].nombreEnIngles)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.animesTemporadasPaginated[0].estado)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.animesTemporadasPaginated[0].tipo)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.animesTemporadasPaginated[0].temporada_estreno)
                    </th>
                    <th scope="col" colspan="3" class="text-center">
                        Acciones
                    </th>


                </tr>
            </thead>
            <tbody>
                @foreach (var animetemporadasjuntos in Model.animesTemporadasPaginated)
                {

                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => animetemporadasjuntos.id_anime)
                    </td>

                    @if (animetemporadasjuntos.NumeroTemporada == null)
                    {
                        <td>
                            <i>-</i>
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => animetemporadasjuntos.NumeroTemporada)

                        </td>
                    }


                    <td>
                        @Html.DisplayFor(modelItem => animetemporadasjuntos.NombreAnimeTemporada)
                        <input type="hidden" name="NombreTemporada" id="NombreTemporada" value="@animetemporadasjuntos.NombreAnimeTemporada" />
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => animetemporadasjuntos.genero)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => animetemporadasjuntos.nombreEnIngles)
                    </td>

                    <td>
                        @*@Html.DisplayFor(modelItem => animetemporadasjuntos.estado)*@
                        <a href="#edit-modal" class="edit" data-toggle="modal"><i data-toggle="tooltip" class="badge badge-pill badge-success">@animetemporadasjuntos.estado</i></a>
                        <input type="hidden" name="id" id="id" value="@animetemporadasjuntos.id_temporada" />
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => animetemporadasjuntos.tipo)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => animetemporadasjuntos.temporada_estreno)
                    </td>

                    @if (animetemporadasjuntos.NumeroTemporada == null)
                    {
                        <td>
                            <a class="btn btn-sm btn-info" asp-page="./EditarTemporada"
                               asp-route-temporadaId="@animetemporadasjuntos.id_temporada"
                               asp-route-AnimeId="@animetemporadasjuntos.id_anime">Editar Info Pelicula</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a class="btn btn-sm btn-warning" asp-page="./EditarTemporada"
                               asp-route-temporadaId="@animetemporadasjuntos.id_temporada"
                               asp-route-AnimeId="@animetemporadasjuntos.id_anime">Editar Info Temporada</a>
                        </td>
                    }




                    <td>
                        <a href="#" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>

                    <td>
                        <a asp-page="/Historial" asp-route-id="@animetemporadasjuntos.id_anime"
                           class="btn btn-sm btn-secondary">Ver Histórico</a>
                    </td>
                </tr>
                }



            </tbody>
        </table>
        @{
            var prevDisabled = !Model.animesTemporadasPaginated.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.animesTemporadasPaginated.HasNextPage ? "disabled" : "";
        }

        <a asp-page="./AnimesTemporadas" asp-route-pageIndex="@(Model.animesTemporadasPaginated.PageIndex - 1)"
           class="btn btn-primary @prevDisabled mr-3">
            Anterior
        </a>
        <a asp-page="./AnimesTemporadas" asp-route-pageIndex="@(Model.animesTemporadasPaginated.PageIndex + 1)"
           class="btn btn-primary @nextDisabled">
            Siguiente
        </a>

       

    </section>

    @section scripts{
        <script>

            $('[data-toggle-tooltip]').tooltip();

            $('table .edit').on('click', function () {
                var id = $(this).parent().find('#id').val();
                var titulo = $(this).parent().find('#NombreTemporada').val();
                var estado = $(this).parent().find('#estado').val();
                var paginavisto = $(this).parent().find('#paginavisto').val();
                
              //  alert(id);
                $('#edit-modal #id').val(id);
                $('#edit-modal #titulo-modal').val(titulo);
                $.ajax({
                    type: 'GET',
                    data: { id: id, estado: estado, nombreTemporada: titulo, paginavisto : paginavisto },
                    url: '@Url.Page("AnimesTemporadas","Find")',
                    success: function (result) {
                        $('#edit-modal #estado').val(result.estado);
                        $('#edit-modal #paginavisto').val(result.paginavisto);
                        $('#edit-modal #titulo-modal').val(result.anime.nombre+ " "+ result.nombreTemporada);
                    }


                });

            });

        </script>
    }
