@page "{id:int?}"
@model Pages.HistorialModel
@{

}



<h3>Historial</h3>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(h => h.historialViewModel[0].id_historial)
            </th>
            <th>
                @Html.DisplayNameFor(h => h.historialViewModel[0].id_temp)
            </th>
            <th>
                @Html.DisplayNameFor(h => h.historialViewModel[0].NombreAnimeTemporada)
            </th>
            <th>
                @Html.DisplayNameFor(h => h.historialViewModel[0].FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(h => h.historialViewModel[0].FechaFin)
            </th>
        </tr>
    </thead>
    <tbody>
        @if(Model.historialViewModel.ToList().Count == 0){
            <tr col=5>
                <td colspan="5" class="text-center"> No Hay Registros</td>
            </tr>
        }
        else{

        @foreach(var registroHistorial in Model.historialViewModel){
            
            <tr>
                <td>
                    @Html.DisplayFor(m => registroHistorial.id_historial)
                </td>
                <td>
                    @Html.DisplayFor(m => registroHistorial.id_temp)
                </td>
                <td>
                    @Html.DisplayFor(m => registroHistorial.NombreAnimeTemporada) 
                </td>
                <td>
                    @Html.DisplayFor(m => registroHistorial.FechaInicio) 
                </td>
                <td>
                    @if(registroHistorial.FechaFin == null){

                        @("Actualmente Viendo.")
                    }
                    @Html.DisplayFor(m => registroHistorial.FechaFin) 
                </td>
            </tr>
            }
        }        
    </tbody>
</table>

<a asp-page="AnimesTemporadas" class="btn btn-primary">Volver</a>

