@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row d-flex justify-content-end">

    <div class="col-6">
        <h4>Lista</h4>
    </div>
    <div class="col-6 text-right">
        <button type="button" class="btn  btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal"
            data-backdrop="static" data-keyboard="false">Añadir</button>
    </div>
</div>

@*
    Dialogo Modal Para insertar Anime
*@
<div id="exampleModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Añadir Nuevo Anime</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*
    FIN DIALOGO MODAL
*@
<section class="row ">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Anime[0].AnimeId)
                </th>



                <th scope="col">
                    @Html.DisplayNameFor(model => model.Anime[0].Nombre)
                </th>

                <th scope="col">
                    @Html.DisplayNameFor(model => model.Anime[0].Genero)
                </th>

                <th scope="col">
                    @Html.DisplayNameFor(model => model.Anime[0].NombreIngles)
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var anime in Model.Anime)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => anime.AnimeId)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => anime.Nombre)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => anime.Genero)
                    </td>
                    @if (anime.NombreIngles == null)
                    {
                        <td>
                            <i>No especificado.</i>
                        </td>
                    }
                    else
                    {

                        <td>
                            @Html.DisplayFor(modelItem => anime.NombreIngles)
                        </td>
                    }
                </tr>
            }

        </tbody>
    </table>
    <table>
        <thead>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Temporadas[0].AnimeId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Temporadas[0].TemporadaId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Temporadas[0].NombreTemporada)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Temporadas[0].Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temporadas[0].Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temporadas[0].TemporadaEstreno)
            </th>
        </thead>
        <tbody>
            @foreach (var temporada in Model.Temporadas)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => temporada.AnimeId)</td>
                    <td>@Html.DisplayFor(modelItem => temporada.TemporadaId)</td>
                    <td>@Html.DisplayFor(modelItem => temporada.NombreTemporada)</td>
                    <td>@Html.DisplayFor(modelItem => temporada.Tipo)</td>
                    <td>@Html.DisplayFor(modelItem => temporada.TemporadaEstreno)</td>
                </tr>
            }
        </tbody>
    </table>

    
</section>
