@page "{id:int?}"
@model Pages.PaginasModel
@{
    ViewData["Title"] = "Historial";
}
<h3>Páginas Registradas</h3>
<a class="btn  btn-primary mr-3 text-white m-3">Registrar nueva pagina</a>
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(p => p.PaginasAnimePaginated[0].paginaId)
            </th>
            <th>
                @Html.DisplayNameFor(p => p.PaginasAnimePaginated[0].nombrePagina)
            </th>
            <th>
                @Html.DisplayNameFor(p => p.PaginasAnimePaginated[0].esLegal)
            </th>
            <th>
                @Html.DisplayNameFor(p => p.PaginasAnimePaginated[0].esFansub)
            </th>
            <th>
                @Html.DisplayNameFor(p => p.PaginasAnimePaginated[0].urlPagina)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PaginasAnimePaginated.ToList().Count == 0)
        {
            <tr col=5>
                <td colspan="7" class="text-center"> No Hay Páginas Registradas. Registra una nueva</td>
            </tr>
        }
        else
        {

            @foreach (var registroPagina in Model.PaginasAnimePaginated)
            {

                <tr>

                    <td>
                        @Html.DisplayFor(m => registroPagina.paginaId)
                    </td>
                    <td>
                        @Html.DisplayFor(m => registroPagina.nombrePagina)
                    </td>
                    <td>
                        @if (registroPagina.esLegal.Equals(true))
                        {
                            <p>Página Legal</p>
                        }
                        else if (registroPagina.esLegal.Equals(false))
                        {
                            <i><b class="text-danger text-uppercase">Página Ilegal</b></i>
                        }
                        else
                        {
                            <p>-</p>
                        }
                    </td>
                    <td>
                        @if(registroPagina.esFansub.Equals(true)){
                            <p>Sí</p>
                        }
                        else{
                            <p>No</p>
                        }
                    </td>

                    <td>
                        @Html.ActionLink(registroPagina.nombrePagina,"Redireccionar", new {@PageId = registroPagina.paginaId})
                        
                    </td>

                </tr>
            }
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.PaginasAnimePaginated.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PaginasAnimePaginated.HasNextPage ? "disabled" : "";
}

<a asp-page="./Historial" asp-route-pageIndex="@(Model.PaginasAnimePaginated.PageIndex - 1)"
    class="btn btn-outline-primary @prevDisabled">
    Anterior
</a>

<a asp-page="./Historial" asp-route-pageIndex="@(Model.PaginasAnimePaginated.PageIndex +1)"
    class="btn btn-outline-primary @nextDisabled">
    Siguiente
</a>